@import url(../../assets/styles/fonts.css);
@import url(../../assets/styles/reset.css);

/* buttons */

.button1 {
  width: 100%;
  max-width: 298px;
  font-weight: 500;
  color: #fff;
  border-radius: 25px;
  padding: 16px 1px 16px 5px;
}
.button3 {
    width: 100%;
    max-width: 298px;
    font-weight: 500;
    color: #fff;
    border-radius: 25px;
    padding: 16px 1px 16px 5px;
  }
.button7 {
  width: 100%;
  max-width: 298px;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  padding: 16px 1px 16px 5px;
}
.button5 {
    width: 100%;
    max-width: 298px;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    padding: 16px 1px 16px 5px;
  }
.button6 {
  font-weight: 400;
  background: #f1f3f2;
  border-radius: 5px;
  padding: 9px 39px;
}
.button4 {
    width: 100%;
  max-width: 298px;
  font-weight: 500;
  color: #fff;
  border-radius: 25px;
  padding: 16px 1px 16px 5px;
}
.button6-color-default {
  color: #000;
  border: 1px solid #333b41;
}
.button6-color-default:active {
  color: #4b9200;
  border-color: #4b9200;
}
.button-color-default {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
.button-color-default:hover {
  background: #e47209;
}
.button-color-default:active {
  background: #4b9200;
}
.button_disabled,
.button_disabled:hover,
.button_disabled:active {
  background: #767474;
  cursor: pointer;
}