.block-pets {
  margin-top: 178px;
  padding-bottom: 100px;
  position: relative;
}

.pets-block-area {
  position: relative;
  padding-right: 2px;
  background-color: #fff;
  margin-bottom: 80px;
}

.pets-block-area {
  position: relative;
}

.hidden {
  overflow: hidden;
}

.prev {
  left: -82px;
}

.next {
  right: -80px;
}

.prev:before {
  content: url(../../assets/icons/prev.svg);
}

.next::before {
  content: url(../../assets/icons/next.svg);
}

.button2 {
  width: 62px;
  height: 62px;
  border-radius: 31px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  position: absolute;
  top: 403px;
}

.button2:hover {
  cursor: pointer;
}

.button2:active {
  background: #4b9200;
}


.petcard-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.petcard {
  border: 1px solid #f9804b;
  border-radius: 5px;
  width: 31.6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
}

.petcard img {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
}

.hovered img {
  border-radius: 15px;
  transform: scale(110%);
  transition: all 0.3s;
  z-index: 1002;
}

.petimg {
  position: relative;
}

.tooltip {
  border: 1px solid #000;
  width: 158px;
  border-radius: 5px;
  position: absolute;
  background-color: #fff;
  left: 15%;
  bottom: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
  padding: 6px 9px 14px;
  transition: bottom 0.3s;
  z-index: -1;
}

.tooltip h4,
.tooltip p {
  height: 22px;
  overflow: hidden;
}

.button1 {
  margin-top: 12px;
}

.hovered .tooltip {
  z-index: 1001;
  bottom: -135px;
}

.petinfo {
  display: flex;
  padding: 10px 7px 13px 15px;
}

.petname {
  flex: 1;
}

.petname h4 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 115%;
}

.petname p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 120%;
  height: 18px;
  overflow: hidden;
}

.peticon {
  width: 48px;
  margin-top: 1px;
}

.banana-and-bamboo {
  width: 34px;
  background: url(../../assets/icons/banana-and-bamboo-icon.svg) 50% no-repeat;
  background-size: cover;
  margin-right: 4px;
}

.meat-and-fish {
  background: url(../../assets/icons/meet-and-fish-icon.svg) 50% no-repeat;
  background-size: cover;
  margin-top: -1px;
}

.block-pets .button1 {
  margin: 0 auto;
  display: block;
}

.block-pets .button3 {
  margin: 0 auto;
  display: block;
}