.block_donate {
  background: linear-gradient(315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%),
    linear-gradient(315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%),
    linear-gradient(315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%);
  color: #333b41;
  padding-bottom: 180px;
  padding-top: 40px;
}

.block_donate h2 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 120%;
}

.block_donate h3 {
  font-size: 3.6rem;
  font-weight: normal;
  line-height: 130%;
}

.block_donate h2,
.block_donate h3 {
  color: #fe9013;
}

.info_donate {
  margin-bottom: 47px;
}

.info_donate h3,
.info_donate p {
  color: #fff;
}

.info_donate p {
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 135%;
}

.info_donate+h3 {
  margin-bottom: 60px;
}

.choose_donate {
  background: rgba(255, 255, 255, 0.52);
  border-radius: 20px;
  padding: 40px 92px 46px;

  text-align: center;
}

.choose_donate {
  height: 964px;
  left: 220px;
  right: 220px;
  top: 804px;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.choose_donate {
  background: rgba(255, 255, 255, 0.52);
  border-radius: 20px;
  padding: 40px 92px 46px;

  text-align: center;
}

.choose_donate h2 {
  margin-left: -13px;
}

.choose_donate h2+p {
  margin-top: 21px;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
}

.choose_donate {
  background: rgba(255, 255, 255, 0.52);
  border-radius: 20px;
  padding: 40px 92px 46px;

  text-align: center;
}

.choose_donate h2 {
  margin-left: -13px;
}

.choose_donate h2+p {
  margin-top: 21px;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
}